/* Estilo para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between; /* Separar izquierda y derecha */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 10px 20px; /* Espaciado interno */ 
    margin: 10px;
}

/* Estilo general para los enlaces */
.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px; /* Espaciado entre elementos */
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none; /* Sin subrayado */
    color: white;
    font-size: 1.2rem;
    margin: 10px;
}



/* Estilo del fondo */
.cuerpo {
    background-image: url("./backgrounddata.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Martian Mono',monospace; /* Asegura que ocupe toda la pantalla */
}

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.main-container .left {
    flex: 6; /* Ocupa el 70% */
    background-color: rgba(255, 255, 255, 0.1); /* Fondo para diferenciar */
    padding: 20px;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
   
}

.main-container .right {
    flex: 4; /* Ocupa el 30% */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo para diferenciar */
    padding: 20px;
    height: 500px;
}

.boton{
    margin-left: 30px;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 15px;
    font-family: 'Martian Mono',monospace;
}

    /* Anillo */
    .ring {
        width: 650px;
        height: 650px;
        border: 15px solid white;
        border-radius: 50%;
        background-color: transparent;
        position: absolute; /* Para permitir el posicionamiento */
        right: -200px; /* Mueve el anillo hacia la derecha para que solo un cuarto sea visible */
        top: 50%; /* Centra verticalmente */
        transform: translateY(-45%); /* Ajuste vertical */
        box-sizing: border-box;
      }

.main-container .left h2{
font-weight: 200;
}