/* Estilo para la barra de navegación */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
    font-family: 'Martian Mono', monospace;
}


.navbar {
    display: flex;
    justify-content: space-between; /* Separar izquierda y derecha */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 20px 20px; /* Espaciado interno */ 
    background: linear-gradient(to bottom, rgba(36, 33, 33, 0.8), rgba(0, 0, 0, 0)); /* Gradiente oscuro */
}

/* Estilo general para los enlaces */
.navbar ul {
    display: flex;
    list-style: none;
    gap: 25px; /* Espaciado entre elementos */
    padding: 0;
    margin-left: 25px;
}

.navbar a {
    text-decoration: none; /* Sin subrayado */
    color: white;
    font-size: 1.2rem;
    margin: 10px;
    font-family: 'Martian Mono', monospace;
}

/* Estilo del fondo */
.landing-page {
    background-image: url('./backgrounddata.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el fondo ocupe toda la pantalla */
    font-family: 'Martian Mono', monospace;
    overflow:auto;
}

/* Contenedor principal */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Alinear arriba para que el contenido inicie desde el tope */
    margin: 30px;
    gap: 20px; /* Espaciado entre las columnas */
}

/* Contenedor izquierdo */
.main-container .left {
    flex: 6; /* Ocupa el 60% */
    padding: 20px;
    height: auto; /* Ajuste dinámico según el contenido */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}

/* Contenedor derecho */
.main-container .right {
    flex: 4; /* Ocupa el 40% */
    padding: 20px;
    height: auto; /* Ajuste dinámico según el contenido */
    position: relative;
}

/* Botón */
.boton {
    align-self: flex-start; /* Alinear al inicio del contenedor izquierdo */
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 15px 30px; /* Añadir más espacio horizontal */
    font-family: 'Martian Mono', monospace;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 30px; /* Ajuste para colocarlo más abajo */
}

/* Estilo de hover para el botón */
.boton:hover {
    background-color: white;
    color: black;
    transform: scale(1.05); /* Efecto de agrandamiento */
}

/* Anillo */
.ring {
    width: 650px;
    height: 650px;
    border: 15px solid white;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    right: -200px; /* Mueve el anillo hacia la derecha para que solo un cuarto sea visible */
    top: 50%; /* Centra verticalmente */
    transform: translateX(30%); 
    transform: translateY(-5%); * Ajuste vertical */
    box-sizing: border-box;
    overflow: hidden; /* Evita el desbordamiento */
}

/* Ajustes para encabezados secundarios */
.main-container .left h2 {
    font-weight: 200;
    margin: 5px 0; /* Reducir el espacio entre los elementos */
    font-size: 20px;
}

.main-container .left p {
    margin: 5px 0; /* Reducir el espacio entre los elementos */
    font-size: 18px;
}

/* Asegura que el botón esté alineado con el contenido */
.main-container .left > .boton {
    margin-top: auto;
}

.header_project{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 30px;
    margin-top: 40px;
}

.header_project .header_project_left h1{
    border-bottom: 5px solid black;
    padding-bottom: 7px;
}

.header_project .header_project_right button{
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

/* Estilo para el contenedor del grid */
.card_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);}
  

/* Estilo para las tarjetas */
.card {
    border-radius: 20px;
    margin-left: 30px;
    width: 80%;
    background: linear-gradient(to right, #1E1C5A 57%, #403BC0 100%); /* Aquí aplicamos el gradiente */
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo para la imagen dentro de la tarjeta */
  .card img {
    width: 100%; /* Ajusta la imagen al 100% del ancho disponible */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
    margin-bottom: 10px;
    border-top-left-radius: 20px; /* Redondea la esquina superior izquierda */
    border-top-right-radius: 20px; /* Redondea la esquina superior derecha */
    border: 1px solid black;
  }
  
  .card h1{
    margin: 15px;
    font-size: 1.2rem;
  }

  .card p{
    margin: 20px;
    font-size: 0.8rem;
    width: 370px;
    text-align: justify;
    margin-top: -5px;
    margin-left: 15px;
  }

  .card .button_action {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 20px; /* Redondea la esquina superior izquierda */
    border-bottom-right-radius: 20px; /* Redondea la esquina superior derecha */
  }

.card .button_action button {
        background-color: #1E1C5A; /* Color hexadecimal */
        color: #fff; /* Color blanco */
        margin: 20px;
        padding: 10px 50px;
        border-radius: 5px;
      }

      .icons-backend {
        display: flex;
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si es necesario */
        justify-content: center; /* Centra los elementos horizontalmente */
      }
      
      .backend h1 {
        color: #403BC0;
        text-align: center; /* Centra el texto horizontalmente */
        margin-bottom: 10px;
        font-size: 1.1rem; /* Añade un margen inferior para separar el título de los iconos */
      }

      .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px; /* Añade espacio entre cada elemento */
      }
      
      .icon-text img {
        width: 50px; /* Ajusta el ancho del icono */
        height: 50px;
        margin-bottom: 10px;
      }
      
      .icon-text h3 {
        font-size: 13px;
      }